<div class="main-wrap">
<div class=" wrap wrap-1">
     <div class="m">
        <app-cenzor></app-cenzor> 
    </div>
   <h2>Angular list of prohibited words</h2>
   <div class="button">
    <div class="btn" >
         <button class="route-link"><a  routerLink="/works/cenzor" routerLinkActive="active" ariaCurrentWhenActive="page">details</a></button> 
        </div>
   </div>
</div>
<div class=" wrap wrap-2">
    <div class="m1">
        <app-main-component></app-main-component> 
     </div>
    
   <h2>Angular task list</h2>
   <div class="button">
    <div  class="btn"><button class="route-link"><a  routerLink="/works/users" routerLinkActive="active" ariaCurrentWhenActive="page">details</a></button></div>
   </div>
</div>
<div class=" wrap wrap-3">
    <div class="m2">
        <app-task-list-parent></app-task-list-parent>
    </div>

<h2>Angular users list</h2>
<div class="button">
    <div class="btn" ><button class="route-link" ><a   routerLink="/works/tasks" routerLinkActive="active" ariaCurrentWhenActive="page">details</a></button></div>
   </div></div>
</div>

