<div class="component-wrap">
    <div class="main">
    <button>Last works >>></button>
   
    <button class="btn-main"><a routerLink='/works/cenzor' ariaCurrentWhenActive="page" routerLinkActive="active-item">Cenzor</a> </button>
    <button class="btn-main"> <a routerLink='/works/users' ariaCurrentWhenActive="page"  routerLinkActive="active-item">Users</a></button>
    <button class="btn-main"><a routerLink='/works/tasks' ariaCurrentWhenActive="page"  routerLinkActive="active-item">Task</a></button>
   
    </div>
    <div class="main2"><button><a  class="btn-style" routerLink='/home' ariaCurrentWhenActive="page"> Back to >>> Home</a></button></div>

</div>
<router-outlet>
</router-outlet>


